.parent{
    border: double #d39acb;
    padding: 20px;
    border-radius: 9px;
    background-color: #250133;
     
}
.parent .card:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.btnUpdt{
    background-color: rgb(7, 8, 6);
    color: white;
    border: none;
    width: 200%;
}
.btnUpdt:hover{
    background-color: rgb(71, 71, 71);
    cursor: pointer;
}
.updt-form{
    background-color: #21082b;
    padding: 12px;
}

